:root {
    --color1: #ffffff; 
}

*{
    font-family: 'Poppins', sans-serif;
}

.header{
    font-size: 25px;
}

.container {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
}

.column{
    margin-left: 50px;
    margin-right: 50px;
}

.item{
    width: 40vw;
}

.discussion {
    margin-top: 50px; /* Abstand zwischen Inhalt und Fußzeile */
    justify-content: center;
    padding-bottom: 30px;
    font-size: 25px;
    border-radius: 20px;
    border: 7px solid #858585;
}

.documentation {
    margin-top: 50px; /* Abstand zwischen Inhalt und Fußzeile */
    justify-content: center;
    padding-bottom: 30px;
    font-size: 25px;
    border-radius: 20px;
    border: 7px solid #858585;
    text-align: left;
}

.documentationTitle {
    text-align: center;
}

.discussionTitle {
    text-align: center;
}

.loss{
    margin-bottom: 70px;
    font-weight: bold;
}